#post-content {

    // Main title
    h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    h2 {
        font-size: 2rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    pre {
        background-color: #282c34;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 1rem;
    }
}